//- for all headers
//- copyright 2013

style
  body {
    overflow-y: scroll;
    overflow-x: hidden;
    background: #fcfcfc;
    padding-top: 70px;
  }
  .header {
    -webkit-box-shadow: 1px 1px 5px #eee;
       -moz-box-shadow: 1px 1px 5px #eee;
         -o-box-shadow: 1px 1px 5px #eee;
            box-shadow: 1px 1px 5px #eee;
    border-bottom:      1px solid #ccc;
    background:                   #fff;
    width: 100%;
    position:absolute;
    left:0;
    top: 0;
  }
  .header-logo {
    margin-right: 30px;
  }
  .header-container .row {
    margin-top: 15px;
  }

  /* Landscape phones and down */
  @media (max-width: 767px) {
    body {
      padding-top: 0;
    }
    .header {
      position: fixed;
      bottom: 0px;
      top: auto;
      border: 0;
    }
    .header-phoneNavbar a.btn {
      padding:20px 3% 20px 3%;
      width: 28%;
    }

  }

div.header
  div.header-container.container
    div.row
      div.span6.offset1
        div.header-phoneNavbar.btn-group.visible-phone
          a.btn.btn-large(href='/magazineEye/') 发现
          a.btn.btn-large(href='/') 首页
          a.btn.btn-large(href='/settings/') 设置
        div.hidden-phone
          a.header-logo.pull-left.hidden-tablet(href='/')
            img(data-src='holder.js/170x30')
          form.header-search.form-inline
            input(type='text', placeholder='搜索报刊/主编')
        
      div.header-right.span3.offset1.hidden-phone
        if !user.id
          div.btn-group
            a.btn.btn-success(href='/register/') 免费注册
          div.btn-group
            a.btn(href='/login/') 登陆
        else if user.id > 0
          div.btn-group
            a.btn(href='/#{user.name}')
              i.icon-user.icon-gray
              =user.name
            a.btn.dropdown-toggle(data-toggle='dropdown')
              span.caret
            ul.dropdown-menu
              li
                a(href='/post/kan') 创刊
              li
                a(href='/post/issue') 发布
              li.divider
              li
                a(href='/#{user.name}/') 个人主页
              li
                a(href='/#{user.name}/#kans') 我的报刊
              li
                a(href='/#{user.name}/#mysubscribe') 我的订阅
              li.divider
              li
                a(href='/settings/') 设置
              li.hidden-desktop
                a(href='/logout/') 退出
          div.btn-group
            a.btn.btn-danger.hidden-tablet(href='/logout/')
              i.icon-off.icon-white


