
//- sidebar and content

extends skeleton


block append Head

	link(rel='stylesheet', href='/css/sidebar-and-content.css')
	block head


block append Content

	.home-container.container

		.row
			.home-sidebar.span2.offset1.hidden-phone
				ul#home-sidebar.nav.nav-pills.nav-stacked
					li.active
						a(href='/')
							i.icon-home.icon-white.pull-right
							=user.name
					li
						a(href='/history/')
							i.icon-book.pull-right
							| 历史记录
					li
						a(href='/groups/')
							i.icon-th-list.pull-right
							| 分类
					li
						a(href='/magazineEye/')
							i.icon-eye-open.pull-right
							| 发现
					li
						a(href='/subscribe/')
							i.icon-hdd.pull-right
							| 订阅
					li
						a(href='/settings/')
							i.icon-wrench.pull-right
							| 设置

			.home-content.span7
				block content



