
//- sidebar and content

extend skeleton


block append Head

	style

		.home-content {
			padding: 15px 0;
		}

		.home-sidebar {
			padding-top: 15px;
		}

		.home-sidebar .nav {
			width: 104px;
		}

		@media (min-width: 1200px) {
			.home-sidebar .nav {
				width: 170px;
			}
		}

		@media (min-width: 980px) and (max-width: 1200px) {
			.home-sidebar .nav {
				width: 140px;
			}
		}

	block head


block append Content

	div.home-container.container
    
		div.row

			div.home-sidebar.span2.offset1.hidden-phone
				ul#home-sidebar.nav.nav-pills.nav-stacked
					li.active
						a(href='/')
							i.icon-home.icon-white.pull-right
							=user.name
					li
						a(href='/history/')
							i.icon-book.pull-right
							| 历史记录
					li
						a(href='/groups/')
							i.icon-th-list.pull-right
							| 分类
					li
						a(href='/magazineEye/')
							i.icon-eye-open.pull-right
							| 发现
					li
						a(href='/subscribe/')
							i.icon-hdd.pull-right
							| 订阅
					li
						a(href='/settings/')
							i.icon-wrench.pull-right
							| 设置

			div.home-content.span7
				block content



