doctype 5
html
  
  head
    block Head
      meta(name='viewport', content='width=device-width, initial-scale=1.5')
      link(rel='stylesheet', href='//stk.ikanbao.fm:3000/css/bootstrap.css')
      link(rel='stylesheet', href='//stk.ikanbao.fm:3000/css/bootstrap-responsive.css')
      title login

  body
    block Content
      include header

    script(src='/scripts/lib/sea.js')
    script(src='/scripts/sea-config.js')
    block Module
      script(src='/scripts/index.js')