doctype 5
html
  
  head
    block Head
      meta(name='viewport', content='width=device-width, initial-scale=1.5')
      link(rel='stylesheet', href='//ikanbao.fm:3000/css/bootstrap.css')
      title= page.title

      script
        var ENV = {}

  body
    block Content
      include header

    script(src='/scripts/?sea.js&sea-config.js&plugins/plugin-combo.js')
    block Module
      script(src='/scripts/default.js')