doctype 5
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//stk.ikanbao.fm:3000/css/bootstrap.css')
    title= title
  body
    block content

    p= nickname()

  script(src='/api/1.00/?assets[scripts]=lib/sea$index')