extend shared/skeleton

block append Head
  
  style

    .login-form {
      -webkt-border-radius: 6px;
        -moz-border-radius: 6px;
          -o-border-radius: 6px;
             border-radius: 6px;
      border:  1px solid #ccc;
      padding: 30px;
      margin-top: 90px;
      width: 100%;
    }

    .login-form input {
      width:  95%;
      margin-top: 5px;
    }

    .login-container {
      width: 300px;
    }
 
    /* Landscape phones and down */
    @media (max-width: 480px) {
      .login-form {
        margin-top: 20px;
        padding: 20px;
        width: 85%;
        border: 0;
      }
      .login-container {
        width: 100%;
      }
    }



block append Content

  div.login-container.container
    form.login-form(method='post', action='/login/')
      fieldset
        legend 登陆爱看报
        label  
          | 用户名/电子邮箱
          input(type='text', name=loginFormFieldName, placeholder='请输入用户名', tabindex='1')
        label  
          | 密码 
          input(type='password', name=passwordFormFieldName, placeholder='密码', tabindex='2')
        p
          div.btn-group
            button#submit.btn.btn-success(data-loading-text='正在登陆..') 登陆
          div.btn-group
            button.btn.visible-phone 免费注册

block Module
  script(src='/scripts/pages/login.js')