
extend shared/skeleton

block append Head

	link(rel='stylesheet', href='/css/post.css')

block append Content

	#issue.container
		.row

			.main-section.span6.offset1
				.issue-title
					label(for='issue-title') 标题
					input(type='text', id='issue-title', value='', placeholder='可以为空')
				.issue-content
					// 这里会根据 刊类型(主/副) 来具体确定编辑器的形式
					textarea#myEditor
						| 欢迎使用
				.issue-btns
					.btn-group
						a.btn(href='/#{user.name}/kan') 取消
					#post-btn.btn-group.pull-right
						a.btn.btn-success 发布
					#preview-btn.btn-group.pull-right
						a.btn 预览

			.sidebar.span3
				p
					label(for='kanID') 发布到
					select
						for kan in kans
							option=kan.name
				p
					label 发布时间
					input(type='text', value='马上发布', disabled)


block Module
	script
		ENV.userRole = #{user.role}
	script(src='/scripts/pages/post_issue.js')