
extend shared/skeleton

block append Head

	link(rel='stylesheet', href='/css/post.css')

block append Content

	//- 1st Part: 创刊部分
	#kan.row
		.form-horizontal.span8.offset2
			
			legend 创建报刊
			.control-group
				label.control-label(for='kanName') 报刊名
				.controls
					.input-prepend
						span.add-on
							i.icon-book
						input#kanName.span5(type='text', value='', placeholder='报刊名，如：南方周末、时尚巴莎等')
			
			.control-group
				label.control-label(for='kanGroup') 分类
				.controls
					.input-prepend
						span.add-on
							i.icon-th-large
						select#kanGroup
							for group in groups
								option #{group}

			.control-group
				label.control-label(for='kanTags') 标签
				.controls
					.input-prepend
						span.add-on
							i.icon-tags
						input#kanTags.span5(type='text', value='', placeholder='添加标签')
			
			.control-group
				label.control-label(for='kanDescription') 描述
				.controls
					.input-prepend
						span.add-on
							i.icon-font
						input#kanDescription.span5(type='text', value='', placeholder='250字以内的报刊描述')

			.control-group
				label.control-label(for='kanCover') 报刊封面
				.controls
					.input-prepend
						span.add-on 图
						input#kanCover.span5(type='text', value='', placeholder='报刊封面')

			.control-group.buttons
				.btn-group
					a#preview.btn.btn-large 预览
				.btn-group
					a#submit.btn.btn-success.btn-large 创建

			//- 添加描述
			#descriptionModal.modal.hide.fade
				.modal-header
					button.close(type='button', data-dismiss='modal') x
					h3 添加描述（250字以内）
				.modal-body
					textarea
				.modal-footer
					button.btn(data-dismiss='modal') 关闭
					button.btn.btn-primary 保存

			//- 上传封面
			#updateCoverModal.modal.hide.fade
				.modal-header
					button.close(type='button', data-dismiss='modal') x
					h3 
						| 上传封面
						span
				.modal-body
					.span3
						img.img-polaroid(data-src='holder.js/280x280')
						#CoverUploadButton
					.span2
						p 注意：
						ul
							li 格式要求(jpg/jpeg/png/gif/webp)
							li 大小请控制在4M以内
				.modal-footer
					button.btn(data-dismiss='modal') 关闭
					button.btn.btn-primary 保存

block Module
	script(src='/scripts/pages/post_kan.js')