extend shared/skeleton

block append head

	style

		body {
			position:relative;
		}
		.reg-container input {
			width: 95%;
		}

		@media (max-width: 767px) {
			.reg-container .page-header h1 {
				font-size: 2em;
			}
		}

block append content

	div.reg-container.container
		div.row
			
			div.span12.page-header
				h1 加入iKanbao.fm

		div.row

			div.span5
				form(action='/register/', method='post')
					legend 新建个人帐户
					label
						| 用户名
						input(tabindex='1', type='text', name='name', value='', placeholder='请输入用户名')
					label
						| 电子邮箱
						input(tabindex='2', type='text', name=loginFormFieldName, value='', placeholder='example@gmail.com')
					label
						| 密码
						input(tabindex='3', type='password', name=passwordFormFieldName, value='')
					label
						| 重复输入密码
						input(tabindex='4', type='password', name='comfirmPassword', value='')
					p
						button.btn.btn-success.btn-large(tabindex='5', type='submit') 创建帐号

			div.span6.offset1.hidden-phone
				img(data-src='holder.js/570x320')
