
extend shared/skeleton

block append Head

	link(rel='stylesheet', href='/css/homepage.css')

block append Content

	.homepage-header.container
		
		.homepage-coverImg
			img

		.homepage-info.span6
			h1=host.name

		.homepage-nav.navbar.span9
			.navbar-inner
				ul.nav
					li.active
						a(href='/#{host.name}/') 个人信息
					li
						a(href='/#{host.name}/kan') Ta的报刊
					li
						a(href='/#{host.name}/subscribe') Ta的订阅
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown')
							| 更多
							b.caret
						ul.dropdown-menu
							li
								a item1
							li
								a item2
							li
								a item3
							li.divider
							li
								a quit

		.homepage-pic
			img.img-polaroid(data-src='holder.js/168x168')


	.homepage-content.container



	.homepage-footer.container