
//- Welcome Authenticated
extend shared/sidebar-and-content

block append head

  style


block append content

        
  -var users = [1, 2, 3, 4, 5, 6, 7]

  for user in users
    div.media
      a.pull-left.hidden-phone(href='#')
        img.media-object(data-src='holder.js/64x64')
      div.media-body
        h4.media-heading 
          a(href='#') Media heading
        div.media
          p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.




