
.homepage-header {
	position: relative;
	background: #fff;
	border: 1px solid #dedede;
}

.homepage-coverImg {
	min-height: 200px;
	background: #eee;
	margin-bottom: 30px;
}

.homepage-info, .homepage-nav {
	position: absolute;
	left: 210px;
}

.homepage-info {
	bottom: 70px;
}

.homepage-nav  {
	bottom: -10px;
}

.homepage-pic {
	position: absolute;
	height: 168px;
	width: 168px;
	left: 30px;
	bottom: 20px;
}

.homepage-pic img {
	height: 100%;
	width: 100%;
}

/* Container */

.homepage-container {
	margin-top: 5px;
	background: #fff;
	border: 1px solid #ccc;
	overflow: hidden;
}

.homepage-content {

}

.homepage-profile table {
	margin: 20px;
	width: 50%;
}

.homepage-kans .thumbnails {
	margin: 20px auto;
}