
.homepage-header {
	min-height: 200px;
	background: #eee;
	position: relative;
}

.homepage-info, .homepage-nav {
	position: absolute;
	left: 210px;
}

.homepage-info {
	bottom: 40px;
}

.homepage-nav  {
	bottom: -40px;
}

.homepage-pic {
	position: absolute;
	height: 168px;
	width: 168px;
	left: 30px;
	bottom: -10px;
}

.homepage-pic img {
	height: 100%;
	width: 100%;
}