
/* keyFrames */

@keyframes fadeOut {

}


/* issue */

.issue-container {
	margin-top: 15px;
}

.issue-canvas-container {
	background: #fff;
	border: 1px solid #d8d8d8;
	box-shadow: 1px 1px 5px #eee;
}

/* Reader Controller */

#reader-controller {
	position: fixed;
	background: rgba(0,0,0,0.1);
	bottom: 100px;
	left: 0px;
	padding: 5px 15px 5px 30px;
	/* Redius */
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	/* Animation */
	-webkit-transition: background 0.3s ease-in;
  -moz-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}

#reader-controller:hover {
	background: rgba(0,0,0,0.9);
}

#reader-controller:hover .rc-btn.hover {
	background: #222;
}

.rc-label {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	height: 40px;
	line-height: 40px;
	padding: 0 5px;
}

.rc-btn {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	margin: 0 5px;
}

.rc-btn.hover {
	background: #ccc;
}

/* modal */

#issue-modal .modal-body {
	padding-top: 40px;
}

#issue-modal .modal-body canvas {
	border: 1px solid #ccc;
	margin: 5px;
	width: 90px;
	cursor: pointer;
}

#issue-modal .modal-body canvas.current {
	border-color: #999;
}

#issue-modal .modal-body canvas:hover {
	border-color: #777;
}