
/* kan */

.kan-container {
	margin-top: 20px;
}

.kan-thumbnails {
	background: #fff;
	border: 1px solid #e7e7e7;
	padding: 20px 0;
	margin-left: 20px;
}

.kan-thumbnail h5, .kan-thumbnail p {
	text-align: center;
	color: #444;
}

#kan-info {
	width: 170px;
}

#kan-info-modal textarea {
	resize: none;
	height: 65px;
	width: 96%;
	margin-top: 5px;
}