/* Common Styles */
#kan, #issue {
	padding: 30px 0;
}

/* Post Kan Styles */

#kan {
	/* TODO */
}

#kan .control-group {
	padding-top: 10px;
}

#kan .buttons {
	text-align: center;
}

#kanDescription, #kanCover {
	cursor: pointer;
}

textarea {
	width: 95%;
}

/* Post Issue Styles */

#issue {
	/* TODO */
}

.main-section {
	/* TODO */
}

.sidebar {
	/* TODO */
}

.issue-title label, .issue-title input {
	/* TODO */
}

.issue-title input {
	width: 95%;
}